<!DOCTYPE html>

<html>

<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark ">
      <a class="navbar-brand" href="/"> <img class="logo" src="/image/WeChargeLogo.png" alt="WeCharge Logo">
        WeCharge</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/aboutus">About us<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/signin">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-nav mr-auto btn" href="/register">Register</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main role="main">
    
    <div class="fluid-container tablef">
    <div class="row">

      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow ">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
              <a class="text-dark">Raisa Mashihat - CEO</a>
            </h3>
            <div class="card-text mb-auto">Raisa Mashihat is the Co-Founder and CEO of Wecharge, a rental service that
              provides customers with always fully-charged portable smartphone chargers. Prior to Wecharge, Raisa was a
              Human Resources Information Services Intern at the New York City Department of Environmental Protection.
            </div>
          </div>
          <img class="img-fluid cardimg card-img-right flex-auto d-none d-md-block" src="https://i.imgur.com/iTeh0kF.png">
        </div>
      </div>

      <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow ">
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0">
                <a class="text-dark">Andy Lin - CIO</a>
              </h3>
              <div class="card-text mb-auto">Andy Lin is the Chief Information Officer of Wecharge and his main role is
                bridging
                the gap between IT and business roles in order to maintain a effective working relationship. He also is in
                charge of policy and practice development, planning, budgeting, resourcing and training for information
                and
                communications technology.</div>
            </div>
            <img class="img-fluid cardimg card-img-right flex-auto d-none d-md-block" src="https://i.imgur.com/ioeiqFr.png">
          </div>
        </div>

      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow ">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
              <a class="text-dark">Yangshu Lu - COO</a>
            </h3>
            <div class="card-text mb-auto">Yangshu Lu is one of the Co-Founders and COO of Wecharge. Prior to WeCharge,
              Yangshu graduated from City University of New York (CUNY) Baruch College with a Bachelor of Business
              Administration in Computer Information Systems. He is adversed in the field of project management and task
              oversight. His main task is to oversee the day to day administrations and operations of the projects at
              hand.</div>
          </div>
          <img class="img-fluid cardimg card-img-right flex-auto d-none d-md-block" src="https://i.imgur.com/LDorpoe.png">
        </div>
      </div>

      <div class="col-md-6 ">
          <div class="card flex-md-row mb-4 box-shadow ">
            <div class="card-body d-flex flex-column align-items-start">
              <h3 class="mb-0">
                <a class="text-dark">Yikang Chen - Back-End Developer</a>
              </h3>
              <div class="card-text mb-auto">I am Yikang Chen and I am in charge of the back end of the project. I create
                and improve the server, server side application and databases. I work with the front end developer to help
                create a functional seamless experience for the front users of our product. My goal is to create and
                improve back-end process and codes and work with others to create a better program. </div>
            </div>
            <img class="img-fluid cardimg card-img-right flex-auto d-none d-md-block" src="https://i.imgur.com/gjSx9Hv.png">
          </div>
        </div>
  

      <div class="col-md-6 center-block">
        <div class="card flex-md-row mb-4 box-shadow ">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
              <a class="text-dark">Shun Sze Front-End Developer
              </a>
            </h3>
            <div class="card-text mb-auto">My name is Shun Sze and my nickname is Cecilia. I am currently a senior studying at
              Baruch College majoring in computer information systems graduating in May 2020. I am the Front End Developer for
              WeCharge and created this website using HTML and CSS. I've been in WeCharge for five years since its launch in
              2020</div>
          </div>
          <img class="img-fluid cardimg card-img-right flex-auto d-none d-md-block" src="https://i.imgur.com/tDSIZVm.png">
        </div>
      </div>
  
    </div>
  </div>

    <!-- footer -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2019-2020 WeCharge Inc. </p>
    </footer>
  </main>



  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>